<article class="uk-margin-small">
  <!-- work heading  -->
  <div class="uk-flex uk-margin-small-left uk-margin-small-bottom">
    <!-- work company logo -->
    <div class="uk-flex uk-flex-top uk-margin-small-top">
      <img
        data-src="https://play-lh.googleusercontent.com/IeNJWoKYx1waOhfWF6TiuSiWBLfqLb18lmZYXSgsH1fvb8v1IYiZr5aYWe0Gxu-pVZX3"
        width="50"
        height="50"
        alt=""
        uk-img
      />
    </div>

    <!-- work title & company -->
    <div class="uk-margin-small-left">
      <p class="uk-text-lead uk-margin-remove-bottom">
        Frontend Developer - Intern
      </p>
      <div class="uk-flex">
        <div>
          <p class="uk-text-emphasis uk-margin-remove-vertical">
            Inuua Tujenge
          </p>
        </div>
        <div>
          <p class="uk-margin-remove-vertical">
            &nbsp; 01/01/2020 - 01/08/2020
          </p>
        </div>
      </div>
    </div>
  </div>
  <ul class="uk-list uk-list-circle uk-margin-remove">
    <li class="uk-margin-remove-top">
      Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
      deserunt mollit anim id est laborum. 1
    </li>
    <li class="uk-margin-remove-top">
      Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
      deserunt mollit anim id est laborum. 2
    </li>
    <li class="uk-margin-remove-top">
      Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
      deserunt mollit anim id est laborum. 3icia deserunt mollit anim id est
      laborum. 3
    </li>
  </ul>
  <hr class="uk-margin-small-left uk-margin-small-right" />
</article>
