<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}" />
    <link rel="stylesheet" href="{% static 'css/libs/uikit.min.css' %}" />

    {% block title %}
    <title>Paul Onteri 2</title>
    {% endblock %}
  </head>

  <body>

    {% include "layout/header_generic.html" %}
    <p>Bro</p>

    {% block content %}
    <!-- default content text (typically empty) -->
    {% endblock %}

    <script src="{% static 'js/libs/uikit.min.js' %}"></script>
  </body>

</html>
