<!-- desktop navbar -->
<nav class="uk-navbar-container" uk-navbar="mode: click">
  <!-- left  -->
  <div class="uk-navbar-left show-desktop">
    <ul class="uk-navbar-nav">
      <li class="uk-active"><a href="#">Paul Onteri</a></li>
    </ul>
  </div>
  <!-- right  -->
  <div class="uk-navbar-right show-desktop">
    <ul class="uk-navbar-nav">
      <li class="uk-active"><a href="#">Projects</a></li>
      <li class="uk-active"><a href="#">Contact me</a></li>
    </ul>
  </div>
</nav>

<!-- mobile navbar -->
<nav class="uk-navbar-container hide-desktop" uk-navbar="mode: click">
  <!-- left  -->
  <div class="uk-navbar-left">
    <ul class="uk-navbar-nav">
      <li class="uk-active"><a href="#">Paul Onteri</a></li>
    </ul>
  </div>
  <!-- right  -->
  <div class="uk-navbar-right">
    <ul class="uk-navbar-nav">
      <li>
        <a href="#">Parent</a>
        <div class="uk-navbar-dropdown">
          <ul class="uk-nav uk-navbar-dropdown-nav">
            <li class="uk-active"><a href="#">Projects</a></li>
            <li class="uk-active"><a href="#">Contact me</a></li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</nav>
